<app-navbar></app-navbar>
<div class="container mb-5 mt-4">
    <div class="row">
        <div class="col">
            <div class="container mb-3">
                <div class="col">
                    <form class="d-flex float-right">
                        <input #txtBuscar (keyup.enter)="buscarPelicula( txtBuscar.value )" class="form-control color-input me-2 mr-1" type="search" placeholder="Buscar" aria-label="Search">
                        <button (click)="buscarPelicula( txtBuscar.value )" class="btn color-buton" type="submit"><i class="fa fa-search"></i> </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <div *ngIf="cargando" class="alert alert-info text-center mt-3 animated fadeIn faster">
                <h4 class="alert-heading">Cargando</h4>
                <p>
                    <i class="fa fa-refresh fa-spin fa-5x"></i>
                </p>
                <p class="mb-0">
                    Espere por favor...
                </p>
            </div>
            <div *ngIf="!cargando">
                <h1> Buscar pelicula: <small class="text-capitalize"> {{ texto }} </small> </h1>
                <app-peliculas-poster-grid [movies]="movies"></app-peliculas-poster-grid>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>