<app-navbar></app-navbar>
<div class="container animated fadeIn fast mt-4 mb-5">
    <div class="row">
        <div class="col">
            <h1 class="animated fadeIn fast">Heroé <i *ngIf="cargando" class="fa fa-refresh fa-spin"></i> <small *ngIf="!cargando"> {{ heroe.nombre | uppercase }} </small> </h1>
            <hr>
        </div>
        <div class="col">
            <div class="float-right">
                <button routerLink="/heroes" title="Heroes" class="btn botonsito btn-primary">
                    <i class="fa fa-arrow-left"></i>
                </button>
            </div>
        </div>
    </div>
    <div class="mt-4 mb-4">
        <div *ngIf="cargando" class="alert alert-info text-center mt-3 animated fadeIn faster">
            <h4 class="alert-heading">Cargando</h4>
            <p>
                <i class="fa fa-refresh fa-spin fa-5x"></i>
            </p>
            <p class="mb-0">
                Espere por favor...
            </p>
        </div>
        <div *ngIf="!cargando" class="jumbotron animated fadeIn fast tarjetas">
            <div class="row">
                <div class="col">
                    <div class="float-right">
                        <button class="btn btn-success mr-1" title="Editar" [routerLink]="['/form', heroe.id ]">
                            <i class="fa fa-pencil"></i>
                        </button>
                        <button class="btn btn-danger" title="Borrar" (click)="borrarHeroe( heroe.id ) ">
                            <i class="fa fa-trash"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <img src="assets/img/spiderman.jpg" title="nombre" class="animated fadeIn img-thumbnail" alt="heroe.nombre">
                    <div class="container float-right">
                        <div class="text-center mt-3">
                            <span *ngIf="heroe.vivo" class="d-inline-block" tabindex="0">
                                <button class="btn btn-success" style="pointer-events: none;" type="button" disabled>Vivo</button>
                            </span>
                            <span *ngIf="!heroe.vivo" class="d-inline-block" tabindex="0">
                                <button class="btn btn-danger" style="pointer-events: none;" type="button" disabled>Muerto</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3 mt-3 animated fadeIn fast">
                        <div class="card-body">
                            <h3 class="card-title">{{ heroe.nombre | uppercase }}</h3>
                            <p class="card-text"> <span>Biografia: </span> {{ heroe.bio }} </p>
                            <p class="card-text"> <span>Poder: </span> {{ heroe.poder }} </p>
                            <!-- <p class="card-text"><small class="text-muted">Fecha de aparición: ... </small></p> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>