<!-- Slider main container -->
<div class="swiper-container animated fadeIn fast">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper animated fadeIn fast ">
        <!-- Slides -->
        <div class="swiper-slide" *ngFor="let movie of movies" [ngStyle]="{ 'background-size': 'cover',
                          'background-image': 'url( https://image.tmdb.org/t/p/w500' + movie.backdrop_path + '  )'   }">
            <div class="movie-description">
                <h3 class="text-center"> {{ movie.title | uppercase }} </h3>
                <p class="animated fadeIn fast"> {{ movie.overview | slice: 0 : 250 }}... </p>
            </div>
        </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div (click)="onSlidePrev()" class="swiper-button-prev"></div>
    <div (click)="onSlideNext()" class="swiper-button-next"></div>
</div>