.color-input {
    background: #3d4248;
    color: #cacaca;
    border-radius: none !important;
    border: 0px solid #3d4248;
}

.color-buton {
    background: #3d4248;
    color: #cacaca;    
}

.color-buton:hover {
    background-color: #cacaca;
    color: #3d4248;
    cursor: pointer;
}
