.botonsito {
    border-radius: 50%;
    border: 2px solid #9a9da0;
    background: #3d4248;
    color: #cacaca;
    cursor: pointer;
}

.img-thumbnail {
    border: 8px solid #3d4248 !important;
    background-color: #3d4248 !important;
    border-radius: 5.5%;
}
input.ng-touched.ng-invalid {
    border: 1px solid red !important;
}

h1{
  color: #cacaca;
}
.botonsito:hover {
    background-color: #cacaca;
    color: #3d4248;
    cursor: pointer;
}
.jumbotron{
  background: #3d4248;
  border-radius: 3%;
  color: #cacaca;
}
.tarjetas {
    background: #3d4248;
    color: #cacaca;
}
