<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto mt-5">
            <div class="card tarjetas jumbotron animate__animated animate__backInUp">
                <div class="card-body">
                    <h2 class="text-center">Crear nueva cuenta</h2>
                    <form (ngSubmit)="onSubmit( f )" #f="ngForm">
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input name="email" type="email" class="form-control" [(ngModel)]="usuario.email" placeholder="Escriba su correco electronico." email required />
                            <span class="text-danger animated fadeIn" *ngIf="f.submitted && f.controls['email'].errors">El correo es obligatorio</span>
                        </div>
                        <div class="form-group">
                            <label for="nombre">Nombres</label>
                            <input name="nombre" type="text" class="form-control" minlength="3" [(ngModel)]="usuario.nombre" placeholder="Escriba sus nombres." required />
                            <span class="text-danger animated fadeIn" *ngIf="f.submitted && f.controls['nombre'].errors">El nombre es obligatorio</span>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input name="password" type="password" class="form-control" minlength="6" [(ngModel)]="usuario.password" placeholder="Escriba su contraseña." required />
                            <span class="text-danger animated fadeIn" *ngIf="f.submitted && f.controls['password'].errors">La contraseña es obligatoria</span>
                        </div>
                        <button class="btn btn-primary btn-lg btn-block"> Ingresar </button>
                    </form>
                    <div class="contact100-form-checkbox mt-3">
                        <input [(ngModel)]="recordarme" class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                            Recordar mi usuario
                        </label>
                    </div>
                    <div class="form-group mt-3">
                        <p>
                            <a class="irRegister" [routerLink]="['/login']">¿Ya tienes cuenta? / Ingresar</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>